$primary-color: #2B3467;
$secondary-color: #BAD7E9;
$background-color: #FCFFE7;
$alt-color: #EB455F;

$font-white: white;
$font-black: black;
$font-disabled: gray;

$rating-good: rgb(95, 218, 95);
$rating-average: rgb(202, 202, 77);
$rating-bad: #EB455F;

$badge-font: white;
$badge-bg: #EB455F;

$btn-dark: #2B3467;
$btn-light: #fff;
$btn-hover: #EB455F;
$btn-disabled: gray;

$msg-success: green;
$msg-error: #EB455F;